<h2>Title</h2>
<p><%= @list.title %></p>
<h2>Body</h2>
<p><%= @list.body %></p>
<%= link_to "Edit", edit_book_path(@list.id) %>
<%= link_to "Destroy", destroy_book_path(@list.id), method: :delete, "data-confirm" => "Are you sure?" %>
